<div id="<%= dom_id tweet %>">

  <div>
      <div>
        <strong>Avatar</strong>
      </div>
    <div>
    <% if tweet.user.avatar.attached? %>
    <div class="profile-pic">
      <%= image_tag tweet.user.avatar, alt: "Image to #{tweet.user.name}", class: "avatar" %>
      </div>
    <% else %>
      <div class="profile-pic">
        <%= image_tag "tanus.svg", alt: "Image not found", class: "avatar" %>
      </div>
    <% end %>
  </div>

  <p>
    <strong>User:</strong>
    <%= "@" + tweet.user.username %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= tweet.body %>
    <div>
     <%= time_ago(tweet.created_at) %>
    </div>
  </p>

  <p>
    <strong>Replies count:</strong>
    <%= tweet.replies_count %>
  </p>

  <p>
    <strong>Likes count:</strong>
    <%= tweet.likes_count %>
  </p>

  <p>
    <strong>Replied_to:</strong>
    <%= tweet.replied_to_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= tweet.user_id %>
  </p>
</div>
