<div class= "container-md">
      <h2 class="article-summary heading-tweet-sm">Sign in to your account</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <div class="signinForm">
        <div class="field input overline">
        <p class= "base-tweet-sm"><%= f.label :email %> </p>  
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "example@mail.com", style: "margin-bottom: 16px;" %>
        </div>

        <div class="field input overline">
        <p class= "base-tweet-sm"> <%= f.label :password %> </p>
          <%= f.password_field :password, autocomplete: "current-password", placeholder: "********", style: "margin-bottom: 16px;"%>
        </div>

        <div class="button button--primary button--sm text-decoration-none ml-4 button-footer overline">
          <%= f.submit "SIG IN"%>
        </div>
      <% end %>
      <%= render "devise/shared/links" %>
    </div>
</div>